<%- include('../../fragments/header.ejs') %>


<main>

    <h2> Zlecone usługi montażu</h2>


   <p> Brak zleconych usług montażu.</p>

   <p class="paragraph-button-add"> <a class ="button-add" href="/assemblies/add"><i class="fas fa-plus"></i></a></p>
</main>

<%- include('../../fragments/footer.ejs') %>