
<%- include('../../fragments/header.ejs') %>

<main>

    <h2> Monocykle w magazynie</h2>


   <p> Brak zapisanych monocykli.</p>

   <p class="paragraph-button-add"> <a class ="button-add" href="/unicycles/add"><i class="fas fa-plus"></i></a></p>
</main>

<%- include('../../fragments/footer.ejs') %>