


<%- include('./fragments/header.ejs') %>

<main>

    <h2> <%= __('main-page.header') %></h2>
    <p class="main-site-desc"><%= __('main-page.content') %></p>
</main>

<%- include('./fragments/footer.ejs') %>