<%- include('../../fragments/header.ejs') %>


<main>

    <h2> Części w magazynie</h2>


   <p> Brak zapisanych części.</p>

   <p class="paragraph-button-add"> <a class ="button-add" href="/parts/add"><i class="fas fa-plus"></i></a></p>
</main>

<%- include('../../fragments/footer.ejs') %>